/.metadata/

ambiente/semillero-hbt/semillero-padre/semillero-servicios/.classpath/
ambiente/semillero-hbt/semillero-padre/semillero-servicios/.project/
ambiente/semillero-hbt/semillero-padre/semillero-servicios/.settings/org.eclipse.jdt.core.prefs/
ambiente/semillero-hbt/semillero-padre/semillero-servicios/.settings/org.eclipse.wst.common.component/
ambiente/semillero-hbt/semillero-padre/semillero-web/.classpath/
ambiente/semillero-hbt/semillero-padre/semillero-web/.project/
ambiente/semillero-hbt/semillero-padre/semillero-web/.settings/org.eclipse.jdt.core.prefs/
ambiente/semillero-hbt/semillero-padre/semillero-web/.settings/org.eclipse.wst.common.component/

